#rectangle-off {
   width: 15px;
   height: 15px;
   background-color: #e0dfdf;
   border-radius: 10%;
}

#rectangle-on {
   width: 15px;
   height: 15px;
   background-color: #3cff6a;
   border-radius: 10%;
}
