.rectangle-off {
   width: 60px;
   height: 15px;
   background-color: #e0dfdf;
   border-radius: 10%;
   margin-bottom: 4%;
}

.rectangle-on {
   width: 60px;
   height: 15px;
   background-color: #3cff6a;
   border-radius: 10%;
   margin-bottom: 4%;
}
