#user-page .modal {
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   position: fixed;
   background-color: black;
   z-index: -1;
}

#user-page .title {
   color: #3cff6a;
   font-size: 42px;
   margin-bottom: 40px;
   font-weight: 100;
}

#user-page .firstname {
   color: aqua;
}

#user-page .page-header {
   margin-left: 50px;
   margin-right: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

#user-page .page-header .buttons-container {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
}

#user-page .page-header button.new-board {
   color: #f1f1f1;
   display: inline;
   font-size: large;
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
   transition: 0.2s;
}

#user-page .page-header button.new-board:hover {
   color: #dadada;
}

#user-page .page-header button.new-board:active {
   color: #a5a5a5;
}

#user-page .newboard-modal button.delete {
   width: 40px;
   height: 40px;
   border-radius: 8px;
   outline: none;
   border-style: none;
   background-color: #f86079;
   transition: 0.1s;
   cursor: pointer;

   margin-top: 10px;
   margin-left: 10px;
}

#user-page .newboard-modal button.delete:hover {
   background-color: #f84d69;
}

#user-page .newboard-modal button.delete:active {
   background-color: #f83556;
}

#user-page .newboard-modal .icon {
   height: 100%;
   width: 100%;
}

#user-page .newboard-modal .top-content {
   height: 100%;
   display: flex;
   flex-direction: row;
   margin: auto;
   margin-right: 40px;
   top: 0;
}

#user-page .newboard-modal .delete {
   margin-bottom: 60px;
}

#user-page .page-header button.log-out {
   color: #ff0000;
   display: inline;
   font-size: large;
   font-weight: bold;
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
   transition: 0.2s;
}

#user-page .page-header button.log-out:hover {
   color: #e00000;
}

#user-page .page-header button.log-out:active {
   color: #c40202;
}

#user-page .boards {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

#user-page .newboard-modal {
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   position: fixed;
   z-index: 0;

   display: flex;
   align-items: center;
   justify-content: center;
}

#user-page .newboard-input {
   height: 300px;
   width: 500px;
   border-radius: 20px;
   background-color: white;

   display: grid;
   grid-template-rows: 1fr 0.7fr;
}

#user-page .Button {
   margin: auto;
   margin-bottom: 10%;
}

#user-page .newboard-input .board-name {
   font-size: large;
   font-weight: 400;
   font-family: Roboto;
}

#user-page .newboard-input .input-block {
   display: flex;
   flex-direction: column;
   margin: auto;
   margin-top: 15%;
}

#user-page .hidden {
   visibility: hidden;
}

@media (max-width: 570px) {
   #user-page .page-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
   }

   #user-page .page-header button {
      font-size: 30px;
   }
}

@media (max-width: 960px) {
   #user-page .boards {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 520px) {
   #user-page .newboard-input {
      width: 450px;
   }

   #user-page input {
      width: 350px;
   }
}

@media (max-width: 450px) {
   #user-page .newboard-input {
      width: 400px;
   }

   #user-page input {
      width: 300px;
   }
}

@media (max-width: 425px) {
   #user-page .title {
      font-size: 36px;
   }
   #user-page .board header {
      width: 350px;
   }
   #user-page .board-content {
      width: 350px;
   }
   #user-page .board button.done {
      width: 370px;
   }
}

@media (max-width: 410px) {
   #user-page .newboard-input {
      width: 350px;
      height: 270px;
   }

   #user-page input {
      width: 250px;
   }
}

@media (min-width: 1500px) {
   #user-page .boards {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media (min-width: 1950px) {
   #user-page .boards {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media (min-width: 2500px) {
   #user-page .boards {
      grid-template-columns: repeat(5, 1fr);
   }
}
